defaults:
  - input_encoder: eic_encoder
  - backbone: eic_transformer_decoder
  - trajectory_labeler: null
  - optimizer: adam
  - scheduler: null
  - _self_
_target_: meds_torch.models.eic_forecasting.EicForecastingModule.initialize

max_seq_len: ${data.max_seq_len}
token_dim: 4
vocab_size: ${data.vocab_size}
get_representations: false
task_name: ${data.task_name}
batch_size: ${data.dataloader.batch_size}
code_head:
  _target_: torch.nn.Identity
code_metadata_fp: ${data.code_metadata_fp}

# compile model for faster training with pytorch 2.0
compile: false

# sampling parameters
generate_id: null # null means no sampling, otherwise uses this id to generate the trajectory
store_generated_trajectory: true # whether to store generated trajectory in the batch
# set to false to speed up zero-shot generation
temperature: 1.0 # sampling temperature
eos_tokens: null
log_progress: true

# Autoregressive modeling metric params
top_k_acc:
  - 1
  - 5
  - 10
next_token_auc: false
max_tokens_budget: null
return_logits: false
return_tokens: false
